* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.main-wrapper {
   padding: 65px 7%;
   /* display: flex;
   justify-content: space-between; */
}

body {
   background-color: #f6f7ff;
   font-family: 'Open Sans', sans-serif;
   color: #ffff;
}

.left-wrapper {
   float: left;
   height: 100%;
   width: 23%;
}

.right-wrapper {
   float: right;
   width: 73%;
}

.section-box {
   margin-bottom: 55px;
}

#info-bar {
   display: none;
}

#info-section {
   display: flex;
   flex-direction: column;
   position: fixed;
   padding: 50px 35px;
   height: 700px;
   width: 300px;
   background-color: #4c67e4;
   border-radius: 20px;
   box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.5);
}

#info-section .img-container {
   height: 100px;
   width: 100px;
   border-radius: 50%;
   margin-bottom: 30px;
}

#info-section .img-container img {
   background-position: center;
   width: 100%;
}

.dot {
   color: #fd5b5d;
}

#info-section h1 {
   margin-bottom: 10px;
}

#info-section p {
   margin-bottom: 60px;
}

.categories {
   margin-bottom: 40px;
}

.categories li {
   list-style: none;
   margin-bottom: 30px;
   font-size: 18px;
}

.categories .fas {
   margin-right: 15px;
}

.scrollTo {
   text-decoration: none;
   color: #ffff;
}

.social-icons {
   display: flex;
}

.icon-circle {
   margin-right: 20px;
   margin-top: 8px;
   width: 50px;
   height: 50px;
   border-radius: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #fd5b5d;
}

.fab {
   font-size: 23px;
   color: white;
}

.side-icon {
   margin-right: 20px;
}

.section-header {
   color: rgb(15, 15, 15);
   font-size: 30px;
}

.section-header-white {
   color: white;
   font-size: 30px;
}

.dash {
   width: 40px;
   height: 5px;
   background-color: #fd5b5d;
   margin-top: 10px;
   border-radius: 5px;
}

#im-oliver {
   height: 700px;
   width: 100%;
   padding: 22% 15%;
   background-color: #4c67e4;
   border-radius: 20px;
   box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.5);
}

#im-oliver .text-container {
   width: 80%;
}

#im-oliver .text-container h1 {
   font-size: 80px;
}

#im-oliver .text-container p {
   font-size: 20px;
}

#im-oliver button {
   margin: 30px 0;
   background-color: #fd5b5d;
   font-size: 18px;
   color: whitesmoke;
   width: 190px;
   height: 50px;
   border: none;
   border-radius: 60px;
   outline: none;
   cursor: pointer;
}

.social-icons-im-oliver {
   display: none;
}

#im-oliver button:hover {
   background-color: #ee5356
}

#about-me {
   /* height: 700px; */
   width: 100%;
   padding: 5%;
   background-color: #ffff;
   border-radius: 20px;
   -webkit-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.2);
}

#about-me .wrapper {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;
   height: 80%;
   margin-top: 50px;
}

.about-me-left-wrapper {
   width: 20%;
}

.about-me-right-wrapper {
   width: 70%;
}

#about-me .img-container-about-me {
   width: 190px;
   height: 190px;
}

#about-me .img-container-about-me img {
   background-position: center;
   width: 100%;
}

.about-me-text {
   width: 100%;
}

.about-me-text h3 {
   color: rgb(15, 15, 15);
   font-size: 30px;
   margin-bottom: 30px;
}

.about-me-text p {
   display: inline;
   color: rgb(109, 108, 108);
   line-height: 25px;
}

.bio {
   /* display: flex;
   flex-wrap: wrap; */
   margin-top: 30px;
}

.bio p {
   display: inline;
   margin-right: 30px;
   /* float: left; */
   color: rgb(141, 141, 141);
}

.bio-span {
   color: rgb(0, 0, 0);
   font-weight: 500;
}

#about-me button {
   margin-top: 30px;
   background-color: #fd5b5d;
   font-size: 18px;
   color: whitesmoke;
   width: 190px;
   height: 50px;
   border: none;
   border-radius: 60px;
   outline: none;
   cursor: pointer;
}

#about-me button:hover {
   background-color: #ee5356
}

#skills {
   width: 100%;
   padding: 5%;
   background-color: #4c67e4;
   border-radius: 20px;
   box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.2);
   -webkit-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.5);
}

.skills-wrapper {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
   margin-top: 50px;
}

.left-skills-wrapper {
   width: 48%;
}

.right-skills-wrapper {
   width: 48%;
}

.skill-div {
   margin-bottom: 40px;
}

.skill-heading h4 {
   display: inline;
}

.percent {
   display: inline;
   color: rgb(223, 223, 223);
   float: right;
   font-size: 16px;
}

.fullbar {
   width: 100%;
   border-radius: 5px;
   height: 6px;
   margin-top: 10px;
   background-color: rgb(250, 250, 250);
}

.progress-html {
   background-color: #fd5b5d;
   height: 6px;
   width: 85%;
}

.progress-css {
   background-color: #fd5b5d;
   height: 6px;
   width: 80%;
}

.progress-javascript {
   background-color: #fd5b5d;
   height: 6px;
   width: 65%;
}

.progress-node {
   background-color: #fd5b5d;
   height: 6px;
   width: 65%;
}

.progress-express {
   background-color: #fd5b5d;
   height: 6px;
   width: 70%;
}

.progress-react {
   background-color: #fd5b5d;
   height: 6px;
   width: 45%;
}

.progress-bootstrap {
   background-color: #fd5b5d;
   height: 6px;
   width: 85%;
}

.progress-mongo {
   background-color: #fd5b5d;
   height: 6px;
   width: 40%;
}

.progress-jquery {
   background-color: #fd5b5d;
   height: 6px;
   width: 50%;
}

.progress-git {
   background-color: #fd5b5d;
   height: 6px;
   width: 80%;
}

#contact {
   width: 100%;
   padding: 5%;
   background-color: #ffff;
   border-radius: 20px;
   -webkit-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.5);
   -moz-box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 30px -1px rgba(0, 0, 0, 0.2);
}

.contact-wrapper {
   color: rgb(109, 108, 108);
   width: 100%;
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.left-contact-wrapper {
   width: 30%;
}

.right-contact-wrapper {
   width: 65%;
}

.contact-section {
   display: flex;
}

.contact-text {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
}

.contact-icon {
   color: #fd5b5d;
   font-size: 18px;
   margin-top: 5px;
   margin-right: 5%;
}

.contact-text h4 {
   color: rgb(15, 15, 15);
   font-size: 18px;
}

.contact-text p {
   color: rgb(109, 108, 108);
}

.contact-form {
   margin-left: 45px;
}

input {
   display: block;
   width: 100%;
   padding: 10px 25px;
   height: 40px;
   margin-bottom: 30px;
   border-radius: 30px;
   border: 1px solid rgb(214, 214, 214);
}

textarea {
   height: 200px;
   display: block;
   width: 100%;
   padding: 10px 25px;
   margin-top: 30px;
   border-radius: 30px;
   border: 1px solid rgb(214, 214, 214);
}

.submit-message {
   margin-top: 30px;
   background-color: #fd5b5d;
   font-size: 18px;
   color: whitesmoke;
   width: 230px;
   height: 50px;
   border: none;
   border-radius: 60px;
   outline: none;
   cursor: pointer;
}

.submit-message:hover {
   background-color: #ee5356
}

.contact-form form textarea::placeholder {
   font-family: Arial, Helvetica, sans-serif;
   padding: 15px 0;
}

#contact input:focus {
   outline: none;
   border: 1px solid #fd5b5d;
}

#contact textarea:focus {
   outline: none;
   border: 1px solid #fd5b5d;
}